<div class="container">
    <div class="text-center">

        <h3><img src="img/shell.jpg" width="50" height="50" />Products</h3>
    </div>
    <div class="text-center col-lg-12 col-sm-12 col-xs-12 panel panel-heading rowRed"
         style="position:relative; top:20px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 text-left"
             ng-click="predicate = 'productCode';reverse=!reverse;product.findSelected(predicate, reverse);">Code</div>
        <div class="col-lg-1 col-sm-2 col-xs-2 text-left"
             ng-click="predicate = 'productName';reverse=!reverse;product.findSelected(predicate, reverse);">Name</div>
        <div class="col-lg-3 col-sm-3 col-xs-3 text-left"
             ng-click="predicate = 'vendorNo';reverse=!reverse;product.findSelected(predicate, reverse);">Vendor</div>
        <div class="col-lg-4 col-sm-4 col-xs-4 text-left"
             ng-click="predicate = 'MSRP';reverse=!reverse;product.findSelected(predicate, reverse);">MSRP</div>
    </div>
    <div style="position:relative; padding-top:-20px;" id="list">
        <div class="rowBlack col-lg-12 col-sm-12 col-xs-12" ng-click="product.selectRow(-1, null)">
            ...Click to add, else click on desired vendor
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12" ng-repeat="prod in product.products"
             ng-class="{rowLightishRed: $odd, rowWhite: $even, itemSelected: $index === product.selectedRow}"
             ng-click="product.selectRow($index, prod)">
            <div class="col-lg-2 col-sm-2 col-xs-2 text-left">{{prod.productCode}}</div>
            <div class="col-lg-1 col-sm-2 col-xs-2 text-center">{{prod.productName}}</div>
            <div class="col-lg-3 col-sm-3 col-xs-3 text-left">{{prod.vendorNo}}</div>
            <div class="col-lg-4 col-sm-4 col-xs-4 text-left">${{prod.MSRP}}</div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-2">&nbsp;</div>
        <div class="col-lg-6 col-sm-6 col-xs-8 text-center label label-default"
             style="bottom:-50px; position:relative; font-size:small;">
            {{product.status}}
        </div>
    </div>
</div>